body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: blueviolet;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
  padding: 0px;
}

.weather-app-wrapper {
  max-width: 600px;
  padding: 20px;
}

.weather-app-border {
  margin: 30px auto 0px;
  border: 1px solid #dadce0;
  border-radius: 10px;
}
